<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-6 mx-auto mt-5">
      <div class="text-md-start">
        <h1 class="fw-bold text-dark">Inserir Nova Consulta</h1>
      </div>

      <form [formGroup]="form"  class="mt-4">
       <div class="form-group mb-3 position-relative">
          <label class="form-label">Data:</label>          
          <input class="form-control"
          [ngClass]="campoEstaInvalido('data') ? 'is-invalid' : ''"
           type="date" 
           formControlName="data"/>
           <div class="invalid-tooltip" *ngIf="campoEstaInvalido('data')">
            <span>A data precisa ser preenchida.</span>
          </div>
        </div>

        <div class="form-group mb-3 position-relative row">
          <div class="col-6">
            <label class="form-label">Hora de Início:</label>
            <input
            formControlName="horaInicio"
              class="form-control"
              type="time"
              placeholder="Digite a Hora de Início da Consulta"
            />
          </div>

          <div class="col">
            <label class="form-label">Hora de Término:</label>
            <input
            formControlName="horaTermino"
              class="form-control"
              type="time"
              placeholder="Digite o Hórario esperado para o término da Consulta"
            />
          </div>
        </div>

        <div class="form-group mb-3 position-relative row">
        <div class="col-11">
         

          <label class="form-label">Paciente:</label>

          <select      
           class="form-select w-50"
           name="nomePaciente" id=""
          formControlName="nomePaciente"
         >
        <option *ngFor="let paciente of pacientes" [ngValue]="paciente.id">   
         {{paciente.nome}}
        </option>                         
          </select>

        </div>
        <div class="col-11">

          <label class="form-label">Médico:</label>

          <select      
           class="form-select w-50"
           name="nomeMedico" id=""
          formControlName="nomeMedico"
         >
        <option *ngFor="let medico of medicos" [ngValue]="medico.id">   
         {{medico.nome}}
        </option>                         
          </select>
        </div>
        </div>
                
        <!-- <div class="form-group mb-3 position-relative">
          <label class="form-label">Recuperação Médico:</label>
          <input
          formControlName="recuperacao"
          [ngClass]="campoEstaInvalido('recuperacao') ? 'is-invalid' : ''"
            class="form-control"
            type="number"
            placeholder="30 Minutos"         
          />
          <div class="invalid-tooltip" *ngIf="campoEstaInvalido('recuperacao')">
            <span>A Recuperação precisa ser preenchida, valor padrão 30 Minutos.</span>
          </div>
        </div> -->

        <div class="card-footer g-grid d-flex gap-1 mt-5">
          <button
           (click)="gravar()"
            data-cy="btnGravar"
            type="button"
            class="btn btn-primary px-5"
          >
            <i class="bi bi-save me-2"></i>
            Gravar
          </button>
          <button
            routerLink="/consultas/listar"
            type="button"
            class="btn btn-outline-primary px-5"
          >
            <i class="pi pi-arrow-left me-2"></i>
            Voltar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

