<section class="mt-5">
  <div class="container">
    <div class="card">
      <div class="row align-items-center gy-3 p-5">
        <div class="col-12 col-md-7">
          <h1 class="card-title fw-semibold text-dark">Painel do Usuário</h1>

          <section id="info" class="fs-5">
            <p class="mt-4 fw-semibold">
             Bem-Vindo(a)
            </p>
            <p class="text-dark fw-semibold"> <span class="text-primary fw-semibold">E-Agenda Médica</span>, Feita para auxiliar a gestão de Cirurgias, Consultas, Médico e Pacientes.
            </p>

          </section>
          <section class="d-grid d-md-flex gap-3">
            <div>
              <a class="btn btn-dark btn-outline-light" routerLink="/pacientes/listar"
              ><i class="bi bi-bookmark-check-fill me-2"></i>Pacientes</a>  
            </div>
            <div class="">
              <a class="btn btn-dark btn-outline-light" routerLink="/medicos/listar"
              ><i class="bi bi-bookmark-check-fill me-2"></i>Médicos</a
            >
            </div>
            <div class="">
              <a class="btn btn-dark btn-outline-light" routerLink="/consultas/listar"
              ><i class="bi bi-bookmark-check-fill me-2"></i>Consultas</a
            >
            </div>
            <div class="">
              <a class="btn btn-dark btn-outline-light" routerLink="/cirurgias/listar"
              ><i class="bi bi-bookmark-check-fill me-2"></i>Cirurgias</a
            >
            </div>     
          </section>
          <hr>
          <div class="fs-5 fw-semibold ">
            <p> A agenda médica é uma ferramenta essencial para a gestão de clínicas e hospitais.
              Ela oferece diversos recursos que contribuem para a eficiência, satisfação dos pacientes e redução de custos.</p>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <img src="https://img.freepik.com/vetores-premium/a-equipe-medica-trata-o-vetor-plano-on-line-do-paciente_103044-3581.jpg?w=2000" class="img-thumbnail" />
        </div>
      </div>
    </div>
  </div>
</section>
 